<!doctype html>
<html lang="en">
<head>
	<title><%= @title %> </title>
</head>
<body>
	<header>
	<%= @view.show_end_result %>
	</header>
  <br>
	<h1> Thanks for playing!</h1> <br>
	<form action="/settings">
	  <button name="play_again" type="submit">Play Again</button>
	</form>
	<br>
	<form action="/previous_games">
	  <button name="see_previous_games" type="submit">See Previous Games </button>
	</form>
</body>
</html>
