<!doctype html>
<html lang="en">
<head>
	<title><%= @title %> </title>
</head>
<body>
	<header>
	<%= @view.show_end_result %>
	</header>
  <br>
	<h2> Thanks for playing!</h2> <br>
  <h2> <a href="/settings"> To play again, click here. </a> </h2>
	<br>
	<h2> <a href="/previous_games"> To see previous games, click here. </a> </h2>
</body>
</html>
