<!doctype html>
<html lang="en">
<head>
	<meta charset="utf8">
	<title><%= @title %> </title>
</head>
<body>
	<header>
	<h2> This is a Sinatra Webapp to play Tic Tac Toe.</h2>
	<br>
	<form action="/settings">
		<button name="play_game" type="submit">Play Game</button>
	</form>
	<br>
	<form action="/previous_games">
    <button name="previous_games" type="submit">See Previous Games</button>
  </form>
	</header>
</body>
</html>
