<!doctype html>
<html lang="en">
<head>
	<meta charset="utf8">
	<title><%= @title %> </title>
</head>
<body>
	<header>
	<h2> This is a Sinatra Webapp to play Tic Tac Toe.</h2> <br>
	<h2> To play game, <a href="/settings"> fill out the initial settings here.</a> </h2>
	</header>
</body>
</html>
