<!doctype html>
<html lang="en">
<head>
	<meta charset="utf8">
	<title><%= @title %> </title>
	<link href="/reset.css" rel="stylesheet">
	<link href="/style.css" rel="stylesheet">
</head>
<body>
	<header>
	<h2> To play the Tic Tac Toe Game, <a href="/settings"> fill out the initial settings. </a> </h2>
	</header>
</body>
</html>
