<!doctype html>
<html lang="en">
<head>
	<meta charset="utf8">
	<title><%= @title %> </title>
	<link href="/reset.css" rel="stylesheet">
	<link href="/style.css" rel="stylesheet">
</head>
<body>
	<header>
	<h2> A game. </h2>
	</header>
</body>
</html>
