<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
  <title><%= @title + ' | Tic Tac Toe' %></title>
  <link href="/reset.css" rel="stylesheet">
  <link href="/style.css" rel="stylesheet">
</head>
<body>
  <header>
    <hgroup>
      <h1><a href="/">Tic Tac Toe</a></h1>
    </hgroup>
  </header>
  <div id="main">
    <%= yield %>
  </div>
</body>
</html>
