<!doctype html>
<html lang="en">
<link href="/reset.css" rel="stylesheet">
<link href="/style.css" rel="stylesheet">
<head> Page Not Found
  <link href="/reset.css" rel="stylesheet">
  <link href="/style.css" rel="stylesheet">
</head>

<body>
  <header>
    <hgroup>
      <h1>Sorry!</h1>
      <h2> This page was not found. </h2>
    </hgroup>
  </header>
</body>
</html>
