<!doctype html>
<html lang="en">
<h1> <a href='/'> To go back to home page, click here.</a> </h1>
<h1> Unfinished Games </h1>
<%= @view_previous.show_unfinished_games %>
<br>
<h1> Previous Games </h1>
<%= @view_previous.show_previous_games %>
</html>
