<!doctype html>
<html lang="en">
<form action="/">
  <button name="return_to_home" type="submit">Return to Home</button>
</form>
<br>
<h1> Unfinished Games </h1>
<%= @view_previous.show_unfinished_games %>
<br>
<h1> Previous Games </h1>
<%= @view_previous.show_previous_games %>
</html>
