<!doctype html>
<html lang="en">
<head>
  <h1> Set up is all done! </h1>
</head>

<body>
  <header>
    <hgroup>
      <h2><a href = '/play_game'> You can now play the game.</a></h2>
    </hgroup>
  </header>
</body>
</html>
