<h1> Tic Tac Toe Game Settings </h2>

<form action="/settings" method="post">
  Player One Marker: <input type="text" name="player_one_marker">
  Player Two Marker: <input type="text" name="player_two_marker">
  <input type="submit">
</form>
